.col-sm-4.col-md-3.proto-content
  .thumbnail
    = link_to image_tag(prototype.capture_images.main.first.content), prototype_path(prototype)
    - if user_signed_in? && current_user.id == prototype.user_id
      .btn-group
        %button.btn.btn-default.dropdown-toggle{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", type: "button"}
          Action
          %span.caret
        %ul.dropdown-menu
          %li
            = link_to "Edit", edit_prototype_path(prototype)
          %li
            = link_to "Delete", prototype_path(prototype), method: :delete, data: { confirm: "Are you really delete?"}
    .caption
      %h3= prototype.title
      .proto-meta
        .proto-user
          = link_to user_path(prototype.user) do
            = "by\s" +  prototype.user.name
        .proto-posted
          = prototype.created_at.strftime('%b %t %d')
      %ul.proto-tag-list.list-inline
        %li
          %a{href: "#", class: "btn btn-default"} iPad
        %li
          %a{href: "#", class: "btn btn-default"} wireframe
