= form_for @prototype, html: {class: "container proto-new"} do |f|
  .col-md-8.col-md-offset-2
    %header.row.user-nav.row
      .col-md-12
        = f.text_field :title, placeholder: "Title", class: "proto-new-title"
    = f.fields_for :capture_images do |image|
      .col-md-12
        .cover-image-upload
          .js-preview-image
            = image.file_field :content
            = image.hidden_field :role, value: "main"
      .col-md-12
      - 2.times do
        %ul.proto-sub-list.list-group
        = f.fields_for :capture_images do |image|
          %li.list-group-item.col-md-4
            .image-upload
              .js-preview-image
                = image.file_field :content
                = image.hidden_field :role, value: "sub"
    %li.list-group-item.col-md-4
      .image-upload-plus
        %span +
    .row.proto-description
      .col-md-12
        = f.text_field :catch_copy, placeholder: "Catch Copy"
      .col-md-12
        = f.text_area :concept, placeholder: "Concept"
      .col-md-12
        %h4 Tag List
        = render "tags/tag-form", prototype: @prototype.tag_list
    .row.text-center.proto-btn
    = f.submit 'Publish' ,class: "btn btn-lg btn-primary btn-block"
