.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          = link_to user_path(@prototype.user) do
            = image_tag(@prototype.user.image, class: "media-object")
        .media-body
          %h4#top-aligned-media.media-heading
            = @prototype.title
          .proto-user
            = link_to user_path(@prototype.user) do
              = "by\s" + @prototype.user.name
            %span.degree= @prototype.user.work
    .col-md-6.text-right#likes
      = render "likes/like"
  .row
    .col-md-9
      = image_tag(@prototype.capture_images.main.first.content, class: "img-responsive")
    .col-md-3
      %ul.proto-sub-list.list-group
        %li.list-group-item
          = image_tag(@prototype.capture_images.sub.first.content, class: "img-responsive")
        %li.list-group-item
          = image_tag(@prototype.capture_images.sub.last.content, class: "img-responsive")
  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      %p= @prototype.catch_copy
    .col-md-6
      %h4 Concept
      %p= @prototype.concept
    .col-md-3
      %h4 Tag List
      %ul.proto-tag-list.list-inline
        = render partial: 'tags/tag', collection: @prototype.tags
    %h4.col-md-12
      Comments
      %span.num (#{@prototype.comments.length})
    .col-md-8
      #comment_lists
        = render @comments
      - if user_signed_in?
        = form_for [@prototype, @comment], class: "form-inline", remote: true do |f|
          %h4
            Write a comment
          .row
            .form-group.col-md-10
              = f.text_area :content, placeholder: "Your comments", class: "form-control", row: "3", id: "comment_content"
            .form-group.col-md-2
              = f.submit "Comment", class: "btn btn-primary"
