.container.form-signin
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    %h2.form-signin-heading Please sign in

    = f.label :email, class:"sr-only"
    = f.email_field :email, autofocus: true, placeholder: "Email address", required: ""

    = f.label :password, class:"sr-only"
    = f.password_field :password, placeholder: "Password", required: ""

    .checkbox
      %label
        = f.check_box :remember_me
        Remember me
    = f.submit "Sign in", class: 'btn btn-lg btn-primary btn-block'

  .text-center
    %p
      Not a member?
      = link_to "Sign up now", new_user_registration_path
